.bodyO{
    text-align:center;
    color:red;
    margin: 0; 
    background-color: black;
    background-image: url("../media/images/redBackground.jpg");
    background-size:cover;
}

p{
    text-align: center;
    color:red;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px; 
}

h1{
    text-align:center;
    color:red;
    font-family: 'Pixelify Sans', sans-serif;
    font-size:60px;

}

.clickme{
    background-color: white;
    color: black;
    position:relative;
    padding: 15px 20px;
    top: 0px;
    left: 250px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
}

.clickme:hover{
    background-color: black;
    color: white;
    position:relative;
    padding: 15px 20px;
    top: 0px;
    left: 250px;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 20px;
}

.audio1{
 position: relative;
 top: 300px;
 left: 0px;
}

.pikarun{
    position: relative;
    bottom:350px;
    right: 620px;
}

.pikarun2{
    position: relative;
    bottom:350px;
    left: 100px;
}



